.max-responsive-png {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

.big-picture-legend {
  width: 5%;
  height: 5%;
}

.big-picture {
  width: 100%;
  height: 100%;
}
