.clearer {
    clear: both;
}

.wy-nav-content {
    max-width: none
}

.wy-side-nav-search>a img.logo {
    width: 60%;
}

.rst-content table.docutils th {
  background-color: #F3F6F6;
}

.rst-content table.docutils td {
  background-color: #F3F6F6;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background-color: #E0E0E0;
}

.intro-table img {
    width: 70%;
    height: auto;
    margin: 5% 15%;
}

.command-table thead th {
  text-align: center;
}

.command-table tbody td {
  white-space: normal;
}

.command-table .category {
  display: block;
  text-align: center;
}

.dcclink a {
  background-color: lightseagreen;
  box-shadow: 0 2px 0 darkslategray;
  color: white;
  padding: 0.5em 0.5em;
  position: relative;
  text-decoration: none;
  text-transform: none;
  border-radius: 5px;
}

.dcclink a:visited {
  color: whitesmoke
}

.dcclink a:hover {
  background-color: darkslategrey;
  cursor: pointer;
}

.dcclink a:active {
  box-shadow: none;
  top: 5px;
}
