@import './theme.css';

.wy-grid-for-nav {
    width: 70%;
    margin: 0 15%;
}
.wy-nav-side {
    left: 15%;
}
.wy-nav-content {
    max-width: 100%;
}
@media screen and (max-width:768px) {
    .wy-grid-for-nav {
        width: 100%;
        margin: auto; /* OR TRY margin: 0*/
    }
   .wy-nav-side {
       left: -300px;
   }
}

.wy-side-nav-search>a img.logo {
    width: 60%;
}

.rst-content img {
    width: 70%;
    height: auto;
    margin: 5% 15%;
}

.rst-content table.docutils{
    width: 80%;
    margin: 0 10%;
}

@media screen and (max-width:1400px) {
    .rst-content table.docutils {
        width: 100%;
        margin: 0;
    }
}