.md-header-nav__button.md-logo{
    padding: 0;
    margin: 0.2rem;
}
.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    width: 2rem;
    height: 2rem;
}
.md-nav--primary .md-nav__title[for="__drawer"] .md-nav__button{
    left: 2.7rem;
}

.md-nav--primary .md-nav__title {
    height: 2rem;
    padding: 0;
}
.md-nav__title .md-nav__button.md-logo img, 
.md-nav__title .md-nav__button.md-logo svg {
    width: 5.4rem;
    height: 1.8rem;
}

#welcome-to-dcc-ex.title{
    background: url(../images/home_welcm.png);
    background-repeat: no-repeat;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    max-width:688px;
    height: 140px;
    padding-top: 70px;
    margin: 0 auto;
    margin-bottom: 0;
    background-position: 0 0;
    font-size: 2.12rem;
}
.md-typeset p.descript{
    background: url(../images/home_welcm.png);
    background-position: 0px -140px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    max-width: 688px;
    height: 140px;
    padding: 40px;
    margin: 0 auto;
    padding-top: 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 10px;
}

@media screen and (max-width: 76.1875em){
    .md-nav--primary .md-nav__title .md-nav__icon {
        top: 0.9rem;
    }
    .md-nav--primary .md-nav__title {
        padding:10px 50px;
    }
    #welcome-to-the-dcc-ex.title{
        font-size: 1.2rem;
    }
    .md-typeset p.descript{
        font-size: 0.66rem;
    }
}
@media screen and (min-width: 76.25em){ 
    .md-tabs--active ~ .md-main .md-nav--primary .md-nav__title {
        height: 2rem;
    }
}