
.md-header-nav__button.md-logo{
    padding: 0;
    margin: 0.2rem;
}
.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
    width: 2rem;
    height: 2rem;
}

.md-typeset .title{
    background: url(../images/home_welcm.png);
    background-repeat: no-repeat;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    max-width:688px;
    height: 140px;
    padding-top: 70px;
    margin: 0 auto;
    margin-bottom: 0;
    background-position: 0 0;
    font-size: 2.12rem;
}
.md-typeset .descript{
    background: url(../images/home_welcm.png);
    background-position: 0px -140px;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    max-width: 688px;
    height: 140px;
    padding: 40px;
    margin: 0 auto;
    padding-top: 0px;
    font-size: 1.1em;
    line-height: 1.4em;
    margin-bottom: 10px;
}

@media screen and (max-width: 76.1875em){
    .md-typeset .title{
        font-size: 1.2rem;
    }
    .md-typeset .descript{
        font-size: 0.66rem;
    }
}
